body {
    background-color: rgb(57, 75, 88);
    text-align: center;
}

#select {
    font-size: 100px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
<<<<<<< HEAD
    /* background-color: transparent!important; */
}
.card{
    background-color: transparent;
    color: white;
    border: transparent;
}
.btn-primary{
    border: transparent;
    background-color: transparent;
=======
}

.card:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
    align-self: center;
>>>>>>> 9c2090664aee9128a7d55a33369f3c9dcbbc7552
}