body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:rgb(57,75,88);
    
}
.container-1{
    width: 75%;
    height: 75vh;
    background-color:rgb(57,75,88);
    margin: 100px; 
}
.container-1 .left{

}

.container-1 .right{
    width: 40%;
    background-color: black;
    height: 75vh;
    float: right;
    display: grid;
    border:solid white 1px;
    background-color:rgb(57,75,88);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.user1,.user{
    padding-left: 20px;
    height: 40px;
    color:white;
    border: transparent;
    background-color:rgb(57,75,88);
    border-bottom:2px solid white;
    margin-left: 5%;
    margin-right:5% ;
    margin: -5% 5% -5%;
}
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.login{
    font-weight: bolder;
    width: 90%;
    height: 50px;
    justify-self: center;
    color: white;
    background-color: transparent;
    border: solid 1px;
    border-radius: 5px;
}
.sign-up a{
    color: white;
}
.sign-up{
    text-align: center;
}
.login:hover{
    background-color:rgb(93, 115, 131);
    color: white;
}

