    * {
        background-color: rgb(57, 75, 88);
    }
    
    .navbar-brand {
        color: aliceblue !important;
        font-weight: bolder;
        font-size: 40px !important;
    }
    /* signup in button */
    
    .signup {
        display: inline;
    }
    
    .signup #signin button {
        color: aliceblue;
        border: none;
        font-weight: 500px;
        font-size: 20px;
    }
    
    .signup #signup button {
        color: aliceblue;
        border-style: solid;
        border-width: 1px;
        width: 100px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500px;
    }
    
    .signup #signup button:hover {
        background-color: rgb(37, 37, 37);
    }
    
    .container-1 {
        width: 100%;
        height: 100VH;
        display: flex;
    }
    
    .greetings {
        width: 50%;
        height: 500px;
        margin-left: 10px;
        margin-top: 50px;
    }
    
    .container-1 .greetings h1 {
        font-size: 80px;
        font-weight: bolder;
        color: aliceblue;
        margin-left: 50px;
        margin-top: 10px;
        text-align: justify;
        color: rgb(255, 255, 255);
        padding: 10px;
    }
    
    .container-1 .greetings h2 {
        color: aliceblue;
        margin-left: 50px;
        margin-top: 20px;
        text-align: justify;
        padding: 10px;
    }
    
    #carouselExampleControls {
        width: 40% !important;
        margin-top: 50px;
        float: right;
        margin-left: 120px;
        margin-right: 10px;
    }